using Compiler.Data;

namespace Compiler.Data.AST
{
    public class <NAME> : Node
    {
        public <NAME>(string name, bool isTerminal, Node parent) : base(name, isTerminal, parent)
        {

        }

        public <NAME>(Symbol symbol, Node parent) : base(symbol, parent)
        {

        }

        override public void Accept(Visitor visitor) {
            visitor.<NAME>(this);
        }
    }
}